<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.im.DynamicMapper">
<resultMap id="Dynamic" type="com.core136.bean.im.Dynamic" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="DYNAMIC_ID" property="dynamicId" jdbcType="VARCHAR" />
    <result column="ACCOUNT_ID" property="accountId" jdbcType="VARCHAR" />
    <result column="ATTACH" property="attach" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
  </resultMap>

<select id="getAllDynamicList" resultType="java.util.HashMap">
SELECT D.ID AS id,D.DYNAMIC_ID AS dynamicId,D.ACCOUNT_ID AS accountId,D.ATTACH AS attach,D.CONTENT AS content,D.CREATE_TIME AS createTime,D.ORG_ID AS orgId
FROM DYNAMIC D
WHERE D.ORG_ID = #{orgId}
<if test="list!=null">
AND D.ACCOUNT_ID IN
<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}       
        </foreach>  
</if>
</select>


 
</mapper>

