<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.email.EmailBoxMapper">
<resultMap id="EmailBox" type="com.core136.bean.email.EmailBox" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="BOX_ID" property="boxId" jdbcType="VARCHAR" />
    <result column="BOX_LEAVE" property="boxLeave" jdbcType="VARCHAR" />
    <result column="BOX_NAME" property="boxName" jdbcType="VARCHAR" />
    <result column="ACCOUNT_ID" property="accountId" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
  </resultMap>
	<select id="getEmailBoxList" resultType="java.util.HashMap">
		SELECT B.ID AS id,B.BOX_ID AS boxId,B.SORT_NO AS sortNo,B.BOX_LEAVE AS boxLeave,B.BOX_NAME AS boxName,B.ACCOUNT_ID AS accountId,B.ORG_ID AS orgId,
		(SELECT COUNT(1) FROM EMAIL E WHERE E.ORG_ID=B.ORG_ID AND E.BOX_ID=B.BOX_ID) AS total 
		FROM 
			EMAIL_BOX B 
		WHERE
			B.ORG_ID=#{orgId}
		AND B.ACCOUNT_ID=#{accountId}
	</select>
	
	
	<select id="getEmailBoxManageList" resultType="java.util.HashMap">
		SELECT B.ID AS id,B.BOX_ID AS boxId,B.SORT_NO AS sortNo,B.BOX_LEAVE AS boxLeave,B.BOX_NAME AS boxName,B.ACCOUNT_ID AS accountId,B.ORG_ID AS orgId,
		(SELECT COUNT(1) FROM EMAIL E WHERE E.ORG_ID=B.ORG_ID AND E.BOX_ID=B.BOX_ID) AS total 
		FROM 
			EMAIL_BOX B 
		WHERE
			B.ORG_ID=#{orgId}
		AND B.ACCOUNT_ID=#{accountId}
		<if test="search !='%%' and search !=''.toString() and search!=null">
		AND	B.BOX_NAME LIKE #{search}
		</if>
	</select>
	
</mapper>

