<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.oa.NewsMapper">
	<resultMap id="News" type="com.core136.bean.oa.News">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="NEWS_ID" property="newsId" jdbcType="VARCHAR" />
		<result column="NEWS_TITLE" property="newsTitle" jdbcType="VARCHAR" />
		<result column="SUBHEADING" property="subheading" jdbcType="VARCHAR" />
		<result column="NEWS_TYPE" property="newsType" jdbcType="VARCHAR" />
		<result column="DEPT_PRIV" property="deptPriv" jdbcType="VARCHAR" />
		<result column="USER_PRIV" property="userPriv" jdbcType="VARCHAR" />
		<result column="LEVEL_PRIV" property="levelPriv" jdbcType="VARCHAR" />
		<result column="SEND_TIME" property="sendTime" jdbcType="VARCHAR" />
		<result column="END_TIME" property="endTime" jdbcType="VARCHAR" />
		<result column="CONTENT" property="content" jdbcType="VARCHAR" />
		<result column="ATTACH" property="attach" jdbcType="VARCHAR" />
		<result column="ATTACH_PRIV" property="attachPriv" jdbcType="VARCHAR" />
		<result column="ONCLICK_COUNT" property="onclickCount" jdbcType="VARCHAR" />
		<result column="MSG_TYPE" property="msgType" jdbcType="VARCHAR" />
		<result column="DEL_FLAG" property="delFlag" jdbcType="VARCHAR" />
		<result column="IS_TOP" property="ipTop" jdbcType="VARCHAR" />
		<result column="READER" property="reader" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
		<result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getNewsManageList" resultType="java.util.HashMap">
		SELECT NEWS_ID AS newsId,NEWS_TITLE AS newsTitle,NEWS_TYPE AS
		newsType,CREATE_TIME AS createTime,DEL_FLAG AS delFlag,SUBHEADING AS subheading,
		(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND
		U.ACCOUNT_ID=CREATE_USER) AS createUser,END_TIME AS endTime,ONCLICK_COUNT AS onclickCount
		FROM NEWS
		WHERE
		ORG_ID=#{orgId}
		AND STATUS = '0'
		<if test="opFlag!='1'.toString()">
			AND CREATE_USER=#{accountId}
		</if>
		<if test="search !='%%'.toString() and search !=''.toString() and search!=null">
			AND NEWS_TITLE LIKE#{search}
		</if>
	</select>

	<select id="getMobileMyNewsList" resultType="java.util.HashMap">
		SELECT NEWS_ID AS newsId,NEWS_TITLE AS newsTitle,NEWS_TYPE AS
		newsType,CREATE_TIME AS createTime,SUBHEADING AS subheading,
		SEND_TIME AS sendTime,ONCLICK_COUNT AS onclickCount,
		(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND
		U.ACCOUNT_ID=CREATE_USER) AS createUser
		FROM NEWS
		WHERE
		ORG_ID=#{orgId}
		AND DEL_FLAG = 0
		AND STATUS = '0'
		AND(
		FUN_INTE_ARRAY(USER_PRIV,#{accountId}) > 0
		<if test="deptId!=null and deptId=!''">
			OR FUN_INTE_ARRAY(DEPT_PRIV,#{deptId})> 0
		</if>
		<if test="levelId!='' and levelId!=null">
			OR FUN_INTE_ARRAY(LEVEL_PRIV,#{levelId}) > 0
		</if>
		OR USER_PRIV = '@all'
		OR DEPT_PRIV = '@all'
		OR LEVEL_PRIV = '@all'
		)
		ORDER BY CREATE_TIME ASC LIMIT ${page},10
	</select>


	<select id="getMyNewsList" resultType="java.util.HashMap">
		SELECT NEWS_ID AS newsId,NEWS_TITLE AS newsTitle,NEWS_TYPE AS
		newsType,CREATE_TIME AS createTime,SUBHEADING AS subheading,
		SEND_TIME AS sendTime,ONCLICK_COUNT AS onclickCount,
		(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND
		U.ACCOUNT_ID=CREATE_USER) AS createUser,CASE WHEN FUN_INTE_ARRAY(READER,#{accountId}) = 0 then 'true' else 'false' END AS  readStatus
		FROM NEWS
		WHERE
		ORG_ID=#{orgId}
		AND DEL_FLAG = 0
		AND STATUS = '0'
		<if test="newsType!= ''">
			AND NEWS_TYPE = #{newsType}
		</if>
		<if test="status=='1'.toString()">
			AND FUN_INTE_ARRAY(READER,#{accountId}) > 0
		</if>
		<if test="status=='0'.toString()">
			AND FUN_INTE_ARRAY(READER,#{accountId}) = 0
		</if>
		<if test="beginTime!=''.toString() and beginTime!=null">
			AND SEND_TIME &gt;= #{beginTime}
		</if>
		<if test="endTime!=''.toString() and endTime!=null">
			AND SEND_TIME &lt;=#{endTime}
		</if>
		<if test="search !='%%' and search !=''.toString() and search!=null">
			AND NEWS_TITLE LIKE #{search}
		</if>
		AND(
		FUN_INTE_ARRAY(USER_PRIV,#{accountId}) > 0
		<if test="deptId!=null and deptId=!''.toString()">
			OR FUN_INTE_ARRAY(DEPT_PRIV,#{deptId})> 0
		</if>
		<if test="levelId!=''.toString() and levelId!=null">
			OR FUN_INTE_ARRAY(LEVEL_PRIV,#{levelId}) > 0
		</if>
		OR USER_PRIV = '@all'
		OR DEPT_PRIV = '@all'
		OR LEVEL_PRIV = '@all'
		)
	</select>


	<select id="getMyNewsListForDesk" resultType="java.util.HashMap">
		SELECT NEWS_ID AS newsId,NEWS_TITLE AS newsTitle,NEWS_TYPE ASnewsType,CREATE_TIME AS createTime,
		SEND_TIME AS sendTime,ONCLICK_COUNT AS onclickCount,SUBHEADING AS subheading,
		(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND
		U.ACCOUNT_ID=CREATE_USER) AS createUser,CASE WHEN FUN_INTE_ARRAY(READER,#{accountId}) = 0 then 'true' else 'false' END AS  readStatus
		FROM NEWS
		WHERE
		ORG_ID=#{orgId}
		AND DEL_FLAG = 0
		AND STATUS = '0'
		AND	
		(
			END_TIME IS NULL OR END_TIME ='' OR END_TIME &gt;=#{endTime}
		)
		AND(
		FUN_INTE_ARRAY(USER_PRIV,#{accountId}) > 0
		<if test="deptId!=null and deptId=!''">
			OR FUN_INTE_ARRAY(DEPT_PRIV,#{deptId})> 0
		</if>
		<if test="levelId!='' and levelId!=null">
			OR FUN_INTE_ARRAY(LEVEL_PRIV,#{levelId}) > 0
		</if>
		OR USER_PRIV = '@all'
		OR DEPT_PRIV = '@all'
		OR LEVEL_PRIV = '@all'
		) ORDER BY readStatus DESC,CREATE_TIME DESC LIMIT 0,5
	</select>


	<update id="updateReadStatus">
		UPDATE NEWS SET ONCLICK_COUNT=(ONCLICK_COUNT+1),READER=#{reader} WHERE
		ORG_ID=#{orgId} AND NEWS_ID=#{newsId}
		AND(
		FUN_INTE_ARRAY(USER_PRIV,#{accountId}) > 0
		<if test="deptId!=null and deptId=!''">
			OR FUN_INTE_ARRAY(DEPT_PRIV,#{deptId})> 0
		</if>
		<if test="levelId!=null and levelId=!''">
			OR FUN_INTE_ARRAY(LEVEL_PRIV,#{levelId}) > 0
		</if>
		OR USER_PRIV = '@all'
		OR DEPT_PRIV = '@all'
		OR LEVEL_PRIV = '@all'
		)
	</update>

	<select id="getReadNewsById" resultType="java.util.HashMap">
		SELECT ID AS id, NEWS_ID AS newsId, NEWS_TITLE AS newsTitle,(SELECT
		C.CODE_NAME FROM CODE_CLASS C WHERE C.ORG_ID=ORG_ID AND
		C.CODE_VALUE=NEWS_TYPE AND C.MODULE='news') AS newsType,
		SEND_TIME AS sendTime, END_TIME AS endTime, CONTENT AS content, ATTACH AS
		attach,
		ATTACH_PRIV AS attachPriv, ONCLICK_COUNT AS onclickCount,READER AS reader, STATUS
		AS status, CREATE_TIME AS createTime,
		(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND
		CREATE_USER=U.ACCOUNT_ID) AS createUser
		FROM NEWS
		WHERE
		ORG_ID=#{orgId}
		AND NEWS_ID=#{newsId}
	</select>

</mapper>

