<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.notice.NoticeConfigMapper">
<resultMap id="NoticeConfig" type="com.core136.bean.notice.NoticeConfig" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="CONFIG_ID" property="configId" jdbcType="VARCHAR" />
    <result column="CODE_CLASS_ID" property="codeClassId" jdbcType="VARCHAR" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="NOTICE_TYPE" property="noticeType" jdbcType="VARCHAR"/>
    <result column="APPROVER_TYPE" property="approverType" jdbcType="VARCHAR"/>
	<result column="APPROVER" property="approver" jdbcType="VARCHAR" />
	<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
	<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
  </resultMap>
	<select id="getApproverUserList" resultType="java.util.HashMap">
	SELECT ID AS id,CONFIG_ID AS configId,NOTICE_TYPE AS noticeType,APPROVER_TYPE AS approverType,CREATE_USER,
	(SELECT USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUserName,
	APPROVER AS approver,CREATE_TIME AS createTime
	FROM NOTICE_CONFIG
	WHERE ORG_ID=#{orgId}
	AND APPROVER_TYPE='0'
	</select>
	<select id="getNotApproverUserList" resultType="java.util.HashMap">
	SELECT ID AS id,CONFIG_ID AS configId,NOTICE_TYPE AS noticeType,APPROVER_TYPE AS approverType,CREATE_USER,
	(SELECT USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUserName,
	APPROVER AS approver,CREATE_TIME AS createTime
	FROM NOTICE_CONFIG
	WHERE ORG_ID=#{orgId}
	AND APPROVER_TYPE='1'
	</select>
</mapper>

