<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
<meta charset="utf-8" />
<title>${session.SOFT_NAME }_智能办公系统</title>
<meta name="description" content="Dashboard" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% include("../../resapi/style.html"){} %>
<link href="/module/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
<link href="/module/jeDate/jedate.css" rel="stylesheet" />
</head>
<body style="overflow-y: auto;">
	<div class="page-body" style="padding: 0px">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="widget-header bg-themeprimary">
					<span class="widget-caption">下属的日志管理列表</span>
				</div>
				<div class="widget-body">
					<div id="registration-form">
						<form role="form">
							<div class="form-title">日志列表</div>
							<div class="row">
								<div class="col-md-12">
									<div class="buttons-preview" id="toobar">
										<span style="margin-left: 10px;">时间段:</span>
										<span> <input type="text" class="form-control" id="beginTime" readonly="readonly" style="width: 150px; display: inline-block;" name="beginTime" placeholder="开始时间">
											</span>
										<span> - </span>
										<span> <input type="text" class="form-control" id="endTime" readonly="readonly" style="width: 150px; display: inline-block;" name="endTime" placeholder="终止时间">
											</span>
											<span style="margin-left: 10px;">我的下属:</span>
											<span>
											<select id="accountId" name="accountId" class="form-control" style="border-radius: 0px;width:150px;display: inline-block;">
											
											</select>
											</span>
											<span style="margin-left: 20px;">
										<a  class="btn btn-azure js-query" >查询</a>
										</span>
									</div>
									<table id="myTable"></table>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
	</div>
</body>
<% include("../../resapi/sysjs.html"){} %>
<script src="/module/bootstrap-table/bootstrap-table.js"></script>
<script src="/module/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/module/jeDate/jeDate.js"></script>
<script src="/gobal/js/page/oa/diarylead.js"></script>
</html>