<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<link id="bootstrap-rtl-link" href="" rel="stylesheet" />
<link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="/assets/css/weather-icons.min.css" rel="stylesheet" />
<link id="beyond-link" href="/assets/css/beyond.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/demo.min.css" rel="stylesheet" />
<link href="/assets/css/typicons.min.css" rel="stylesheet" />
<link href="/module/tab/css/tabstyle.css" rel="stylesheet" />
<link href="/assets/css/animate.min.css" rel="stylesheet" />
<link href="/assets/css/style.css" rel="stylesheet" />
<link id="skin-link" href="" rel="stylesheet" type="text/css" />
<script src="/assets/js/skins.min.js"></script>
<script type="text/javascript">
var orgName="${session.UNIT.orgName}";
</script>
<style type="text/css">
div::-webkit-scrollbar {/*滚动条整体样式*/
        width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
div::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 4px;
         -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
        background: #ccc;
    }
div::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
        border-radius: 4px;
        background: #EDEDED;
}
#myTable tr td {
	vertical-align: middle;
}
</style>