<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.projectbuild.ProjectBuildUnitMapper">
<resultMap id="ProjectBuildUnit" type="com.core136.bean.projectbuild.ProjectBuildUnit" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="UNIT_ID" property="unitId" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CN_NAME" property="cnName" jdbcType="VARCHAR" />
    <result column="EN_NAME" property="enName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
  </resultMap>

<select id="getAllUnit" resultMap="ProjectBuildUnit">
        SELECT ID,UNIT_ID,TYPE,CN_NAME,EN_NAME,ORG_ID 
        FROM PROJECT_BUILD_UNIT WHERE ORG_ID=#{orgId}
</select>

<select id="getProjectBuildUnitList" resultMap="ProjectBuildUnit">
        SELECT ID,UNIT_ID,TYPE,CN_NAME,EN_NAME,ORG_ID 
        FROM PROJECT_BUILD_UNIT 
        WHERE ORG_ID=#{orgId}
        <if test="type!=''.toString()">
        	AND TYPE = #{type}
        </if>
        <if test="search !='%%' and search !=''.toString() and search!=null">
        	AND (CN_NAME LIKE #{search} OR EN_NAME LIKE #{search})
        </if>
</select>

</mapper>