<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title>${session.SOFT_NAME }_智能办公系统</title>
<meta name="description" content="Dashboard" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%include("../resapi/style.html"){}%>
<style>
.databox{
	margin-bottom: 0px;
}
</style>
</head>
<body style="overflow-y: auto; height: 100%;">
	<div class="page-body" style="padding: 4px 0px 0px;">
		<div class="page-container">
			<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px">
				<div class="tabbable">
					<ul class="nav nav-tabs tabs-flat" id="myTab11" style="background-image: url('/gobal/img/tb_header.png'); background-size: 34px 60px;">
						<% if(view==''||view==null) { view='desk'; } for(item in profilelist) { if(item.url==view) { %>
						<li class="active"><a href="/app/core/desk?view=${item.url}" aria-expanded="true">${item.title}</a></li> <% }else { %>
						<li class=""><a href="/app/core/desk?view=${item.url}" aria-expanded="false">${item.title}</a></li> <% } } %>
					</ul>
					<div class="tab-content tabs-flat">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-6">
								<div class="col-md-2 col-sm-2 col-xs-6">
									<div class="databox">
										<div class="databox-left bg-white">
											<div class="databox-sparkline">
												<span class="glyphicon glyphicon-user" style="font-size: 40px; color: rebeccapurple;"></span>
											</div>
										</div>
										<div class="databox-right bg-white bordered bordered-platinum">
											<span class="databox-number sky" id="ingWorkTotal">0</span>
											<div class="databox-text darkgray">在职人数</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-6">
									<div class="databox">
										<div class="databox-left bg-white">
											<div class="databox-sparkline">
												<span class="glyphicon glyphicon-calendar" style="font-size: 40px; color: rebeccapurple;"></span>
											</div>
										</div>
										<div class="databox-right bg-white bordered bordered-platinum">
											<span class="databox-number sky" id="attendTotal">0</span>
											<div class="databox-text darkgray">今日出勤人数</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-6">
									<div class="databox">
										<div class="databox-left bg-white">
											<div class="databox-sparkline">
												<span class="glyphicon glyphicon-plane" style="font-size: 40px; color: rebeccapurple;"></span>
											</div>
										</div>
										<div class="databox-right bg-white bordered bordered-platinum">
											<span class="databox-number sky" id="levelType">0</span>
											<div class="databox-text darkgray">年假总天数</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-6">
									<div class="databox">
										<div class="databox-left bg-white">
											<div class="databox-sparkline">
												<span class="glyphicon glyphicon-heart" style="font-size: 40px; color: rebeccapurple;"></span>
											</div>
										</div>
										<div class="databox-right bg-white bordered bordered-platinum">
											<span class="databox-number sky" id="careTotal">0</span>
											<div class="databox-text darkgray">员工关怀次数</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-6">
									<div class="databox">
										<div class="databox-left bg-white">
											<div class="databox-sparkline">
												<span class="fa fa-sign-out" style="font-size: 40px; color: rebeccapurple;"></span>
											</div>
										</div>
										<div class="databox-right bg-white bordered bordered-platinum">
											<span class="databox-number sky">2485</span>
											<div class="databox-text darkgray">迟到早退</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-6">
									<div class="databox">
										<div class="databox-left bg-white">
											<div class="databox-sparkline">
												<span class="fa fa-briefcase" style="font-size: 40px; color: rebeccapurple;"></span>
											</div>
										</div>
										<div class="databox-right bg-white bordered bordered-platinum">
											<span class="databox-number sky">2485</span>
											<div class="databox-text darkgray">加班总时长</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="margin-top: 20px">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="widget" style="height: 450px;" class="col-sm-12">
								<div class="widget-header">
									<span class="widget-caption">学历占比</span>
									<div class="widget-buttons">
										<a href="#" data-toggle="collapse"> <i class="fa fa-minus"></i>
										</a>
									</div>
								</div>
								<div class="widget-body" style="height: 450px;">
									<div id="main1" style="height: 400px;" class="col-sm-12"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="widget" style="height: 450px;" class="col-sm-12">
								<div class="widget-header">
									<span class="widget-caption">籍贯占比</span>
									<div class="widget-buttons">
										<a href="#" data-toggle="collapse"> <i class="fa fa-minus"></i>
										</a>
									</div>
								</div>
								<div class="widget-body" style="height: 450px;">
									<div id="main2" style="height: 400px;" class="col-sm-12"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="widget" style="height: 450px;" class="col-sm-12">
								<div class="widget-header">
									<span class="widget-caption">年龄占比</span>
									<div class="widget-buttons">
										<a href="#" data-toggle="collapse"> <i class="fa fa-minus"></i>
										</a>
									</div>
								</div>
								<div class="widget-body" style="height: 450px;">
									<div id="main3" style="height: 400px;" class="col-sm-12"></div>
								</div>
							</div>
						</div>
						</div>
						
						<div class="row" style="margin-top: 20px">
						<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="widget" style="height: 450px;" class="col-sm-12">
								<div class="widget-header">
									<span class="widget-caption">工种对比</span>
									<div class="widget-buttons">
										<a href="#" data-toggle="collapse"> <i class="fa fa-minus"></i>
										</a>
									</div>
								</div>
								<div class="widget-body" style="height: 450px;">
									<div id="main4" style="height: 400px;" class="col-sm-12"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="widget" style="height: 450px;" class="col-sm-12">
								<div class="widget-header">
									<span class="widget-caption">离职趋势</span>
									<div class="widget-buttons">
										<a href="#" data-toggle="collapse"> <i class="fa fa-minus"></i>
										</a>
									</div>
								</div>
								<div class="widget-body" style="height: 450px;">
									<div id="main5" style="height: 400px;" class="col-sm-12"></div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="widget" style="height: 450px;" class="col-sm-12">
								<div class="widget-header">
									<span class="widget-caption">奖惩对比</span>
									<div class="widget-buttons">
										<a href="#" data-toggle="collapse"> <i class="fa fa-minus"></i>
										</a>
									</div>
								</div>
								<div class="widget-body" style="height: 450px;">
									<div id="main6" style="height: 400px;" class="col-sm-12"></div>
								</div>
							</div>
						</div>
						</div>
						<div class="row" style="margin-top:20px;">
						<h6 class="row-title before-azure" style="margin-left: 5px;" >即将到期合同</h6>
						<div style="margin-top:10px;">
						<table class="table table-hover table-striped table-bordered">
							<thead>
								<tr>
									<th>序号</th>
									<th>合同编号</th>
									<th>人员姓名</th>
									<th>应聘岗位</th>
									<th>合同类型</th>
									<th>所在机构</th>
									<th>合同开始日期</th>
									<th>合同到期日期</th>
								</tr>
							</thead>
							<tbody id="contracttr">
							</tbody>
						</table>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<%include("../resapi/sysjs.html"){}%>
<script type="text/javascript" src="/module/echart/echarts.min.js"></script>
<script type="text/javascript" src="/gobal/js/page/sys/deskforhr.js"></script>
</html>