<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.task.TaskMapper">
<resultMap id="Task" type="com.core136.bean.task.Task" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
    <result column="TASK_NAME" property="taskName" jdbcType="VARCHAR" />
    <result column="TASK_TYPE" property="taskType" jdbcType="VARCHAR" />
    <result column="DEPT_PRIV" property="deptPriv" jdbcType="VARCHAR" />
    <result column="USER_PRIV" property="userPriv" jdbcType="VARCHAR" />
    <result column="LEAVE_PRIV" property="leavePriv" jdbcType="VARCHAR" />
    <result column="ATTACH" property="attach" jdbcType="VARCHAR" />
    <result column="ATTACH_PRIV" property="attachPriv" jdbcType="VARCHAR" />
    <result column="CHARGE_ACCOUNT_ID" property="chargeAccountId" jdbcType="VARCHAR" />
    <result column="BEGIN_TIME" property="beginTime" jdbcType="VARCHAR" />
    <result column="END_TIME" property="endTime" jdbcType="VARCHAR" />
    <result column="IS_TOP" property="isTop" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="DURATION" property="duration" jdbcType="VARCHAR" />
    <result column="PARTICIPANT_ACCOUNT_ID" property="participantAccountId" jdbcType="VARCHAR" />
    <result column="SUPERVISOR_ACCOUNT_ID" property="supervisonAccountId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getManageTaskList" resultType="java.util.HashMap">
   	SELECT TASK_ID AS taskId,TASK_NAME AS taskName,TASK_TYPE AS taskType,STATUS AS status,BEGIN_TIME AS beginTime,END_TIME AS endTime,DURATION AS duration,
   	END_TIME AS endTime,CREATE_USER AS createUser,IS_TOP AS isTop,
   	(SELECT U1.USER_NAME FROM USER_INFO U1 WHERE U1.ORG_ID=ORG_ID AND U1.ACCOUNT_ID=SUPERVISOR_ACCOUNT_ID) AS supervisorUserName,
   	(SELECT U2.USER_NAME FROM USER_INFO U2 WHERE U2.ORG_ID=ORG_ID AND U2.ACCOUNT_ID=CHARGE_ACCOUNT_ID) AS chargeUserName,
   	(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUserName 
   	FROM TASK 
   	WHERE ORG_ID=#{orgId} 
   	<if test="status!=''.toString() and status!=null">
		AND STATUS=#{status}
	</if>
   	<if test="opFlag!='1'.toString()">
		AND CREATE_USER = #{accountId}
	</if>
	<if test="taskType!=''.toString() and taskType!=null">
		AND TASK_TYPE = #{taskType}
	</if>
	<if test = "beginTime!=''.toString() and beginTime!=null">
		AND CREATE_TIME &gt;=#{beginTime}
	</if>
	<if test = "endTime!=''.toString() and endTime!=null">
		AND CREATE_TIME &lt;=#{endTime}
	</if>
	<if test="search !='%%' and search !=''.toString() and search!=null">
		AND TASK_NAME LIKE #{search}
	</if>
  </select>
  
  <select id="getAssignmentTaskList" resultType="java.util.HashMap">
   	SELECT TASK_ID AS taskId,TASK_NAME AS taskName,TASK_TYPE AS taskType,STATUS AS status,BEGIN_TIME AS beginTime,END_TIME AS endTime,DURATION AS duration,
   	END_TIME AS endTime,CREATE_USER AS createUser,IS_TOP AS isTop,
   	(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUserName 
   	FROM TASK 
   	WHERE ORG_ID=#{orgId} 
   	AND STATUS='0'
   	<if test="opFlag!='1'.toString()">
		AND CHARGE_ACCOUNT_ID = #{accountId}
	</if>
	<if test="taskType!=''.toString() and taskType!=null">
		AND TASK_TYPE = #{taskType}
	</if>
	<if test = "beginTime!=''.toString() and beginTime!=null">
		AND CREATE_TIME &gt;=#{beginTime}
	</if>
	<if test = "endTime!=''.toString() and endTime!=null">
		AND CREATE_TIME &lt;=#{endTime}
	</if>
	<if test="search !='%%' and search !=''.toString() and search!=null">
		AND TASK_NAME LIKE #{search}
	</if>
  </select>
  
  
    <select id="getMyChargeTaskList" resultType="java.util.HashMap">
   	SELECT TASK_ID AS taskId,TASK_NAME AS taskName,TASK_TYPE AS taskType,STATUS AS status,BEGIN_TIME AS beginTime,END_TIME AS endTime,DURATION AS duration,
   	END_TIME AS endTime,CREATE_USER AS createUser,IS_TOP AS isTop,
   	(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUserName,
   	(SELECT U1.USER_NAME FROM USER_INFO U1 WHERE U1.ORG_ID=ORG_ID AND U1.ACCOUNT_ID=SUPERVISOR_ACCOUNT_ID) AS supervisorUserName
   	FROM TASK 
   	WHERE ORG_ID=#{orgId} 
   	<if test="status!=''.toString() and status!=null">
		AND STATUS=#{status}
	</if>
		AND CHARGE_ACCOUNT_ID = #{accountId}
	<if test="taskType!=''.toString() and taskType!=null">
		AND TASK_TYPE = #{taskType}
	</if>
	<if test = "beginTime!=''.toString() and beginTime!=null">
		AND CREATE_TIME &gt;=#{beginTime}
	</if>
	<if test = "endTime!=''.toString() and endTime!=null">
		AND CREATE_TIME &lt;=#{endTime}
	</if>
	<if test = "createUser!=''.toString() and createUser!=null">
		AND CREATE_USER &lt;=#{createUser}
	</if>
	<if test="search !='%%' and search !=''.toString() and search!=null">
		AND TASK_NAME LIKE #{search}
	</if>
  </select>
  
  
  <select id="getMySupervisorTaskList" resultType="java.util.HashMap">
   	SELECT TASK_ID AS taskId,TASK_NAME AS taskName,TASK_TYPE AS taskType,STATUS AS status,BEGIN_TIME AS beginTime,END_TIME AS endTime,DURATION AS duration,
   	END_TIME AS endTime,CREATE_USER AS createUser,IS_TOP AS isTop,
   	(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=ORG_ID AND U.ACCOUNT_ID=CREATE_USER) AS createUserName,
   	(SELECT U1.USER_NAME FROM USER_INFO U1 WHERE U1.ORG_ID=ORG_ID AND U1.ACCOUNT_ID=CHARGE_ACCOUNT_ID) AS chargeUserName
   	FROM TASK 
   	WHERE ORG_ID=#{orgId} 
   	<if test="status!=''.toString() and status!=null">
		AND STATUS=#{status}
	</if>
		AND SUPERVISOR_ACCOUNT_ID = #{accountId}
	<if test="taskType!=''.toString() and taskType!=null">
		AND TASK_TYPE = #{taskType}
	</if>
	<if test = "beginTime!=''.toString() and beginTime!=null">
		AND CREATE_TIME &gt;=#{beginTime}
	</if>
	<if test = "endTime!=''.toString() and endTime!=null">
		AND CREATE_TIME &lt;=#{endTime}
	</if>
	<if test = "createUser!=''.toString() and createUser!=null">
		AND CREATE_USER &lt;=#{createUser}
	</if>
	<if test="search !='%%' and search !=''.toString() and search!=null">
		AND TASK_NAME LIKE #{search}
	</if>
  </select>
  
</mapper>

