<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.hr.HrKpiItemMapper">
<resultMap id="HrKpiItem" type="com.core136.bean.hr.HrKpiItem" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ITEM_ID" property="itemId" jdbcType="VARCHAR" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CHILD_ITEM" property="childItem" jdbcType="VARCHAR" />
    <result column="OPT_TYPE" property="optType" jdbcType="VARCHAR" />
    <result column="KPI_TYPE" property="kpiType" jdbcType="DOUBLE" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
</resultMap>

<select id="getHrKpiItemList" resultType="java.util.HashMap">
	SELECT ITEM_ID AS itemId,TITLE AS title,OPT_TYPE AS optType,KPI_TYPE AS kpiType,CREATE_TIME AS createTime,CREATE_USER AS createUser,
	(SELECT U.USER_NAME FROM USER_INFO U WHERE U.ORG_ID=#{orgId} AND U.ACCOUNT_ID=CREATE_USER) AS createUserName
	FROM HR_KPI_ITEM
	WHERE ORG_ID=#{orgId}
	<if test="kpiType!=null and kpiType!=''.toString()">
		AND KPI_TYPE=#{kpiType}
	</if>
	<if test="createUser!=null and createUser!=''.toString()">
		AND CREATE_USER=#{createUser}
	</if>
	<if test="search!=null and search!=''.toString() and search!='%%'.toString()">
		AND TITLE LIKE #{search}
	</if>
</select>

</mapper>

