<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.bi.BiSortMapper">
	<resultMap id="BiSort" type="com.core136.bean.bi.BiSort">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="SORT_ID" property="sortId" jdbcType="VARCHAR" />
		<result column="SORT_NAME" property="sortName" jdbcType="VARCHAR" />
		<result column="LEVEL_ID" property="levelId" jdbcType="VARCHAR" />
		<result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
		<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
		<result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getBiSortTree" resultType="java.util.HashMap">
		SELECT SORT_ID as sortId, SORT_NAME as sortName,
		CASE WHEN (SELECT COUNT(1) FROM BI_SORT TMP WHERE TMP.LEVEL_ID=sortId)=0 then 'false' else 'true' END
		AS  isParent
		FROM BI_SORT WHERE LEVEL_ID=#{levelId} AND ORG_ID=#{orgId}
	</select>

</mapper>

