<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
<meta charset="utf-8" />
<title>${session.SOFT_NAME }_智能办公系统</title>
<meta name="description" content="Dashboard" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% include("../../../resapi/style.html"){}%>
<link href="/module/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
<style type="text/css">
#myTable tr td {
	vertical-align: middle;
}
</style>
</head>
<body style="overflow-y: auto;">
	<div class="page-body" style="padding: 0px">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="widget-header bg-themeprimary">
					<span class="widget-caption">BPM插件设置</span>
				</div>
				<div class="widget-body">
					<div id="registration-form">
						<form role="form">
							<div class="form-title">BPM插件列表</div>
							<div class="row">
								<div class="col-md-12">
									<div class="buttons-preview" id="toobar">
										<a href="javascript:void(0);" onclick="doadd();" class="btn btn-azure">注册插件</a>

									</div>
									<table id="myTable"></table>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" id="setpluginsmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myLargeModalLabel">插件设置</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal form-bordered" role="form" id="form1">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">排序号：</label>
							<div class="col-sm-9">
								<input type="number" class="form-control" name="sortNo" id="sortNo" placeholder="排序号"> <input type="hidden" class="form-control" name="dbSourceId" id="dbSourceId" placeholder="排序号">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">插件名称：</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="title" name="title" placeholder="插件名称">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">插件包名：</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="packName" name="packName" placeholder="插件包名">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">插件类名：</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="className" name="className" placeholder="插件包名">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">方法名称：</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="method" name="method" placeholder="方法名称">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">备注说明：</label>
							<div class="col-sm-9">
								<textarea rows="5" cols="" id="remark" name="remark" placeholder="备注说明" class="form-control"></textarea>
							</div>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary js-save">保存</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</body>
<% include("../../../resapi/sysjs.html"){}%>
<script src="/module/bootstrap-table/bootstrap-table.js"></script>
<script src="/module/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/gobal/js/page/bpm/setplugins.js"></script>
</html>