<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.fixedassets.FixedAssetsMapper">
<resultMap id="FixedAssets" type="com.core136.bean.fixedassets.FixedAssets" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ASSETS_ID" property="assetsId" jdbcType="VARCHAR" />
    <result column="SORT_ID" property="sortId" jdbcType="VARCHAR" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="ASSETS_NAME" property="assetsName" jdbcType="VARCHAR" />
    <result column="ASSETS_CODE" property="assetsCode" jdbcType="VARCHAR" />
    <result column="OWN_DEPT" property="ownDept" jdbcType="VARCHAR" />
    <result column="MODEL" property="model" jdbcType="VARCHAR" />
    <result column="BRAND" property="brand" jdbcType="VARCHAR" />
    <result column="ATTACH" property="attach" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STORAGE_ID" property="storageId" jdbcType="VARCHAR" />
    <result column="PURCHASE_PRICE" property="purchasePrice" jdbcType="VARCHAR" />
    <result column="DEPRECIATION" property="depreciation" jdbcType="VARCHAR" />
    <result column="PURCHASE_TIME" property="purchaseTime" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
  </resultMap>
<select id="getFixedAssetsList" resultType="java.util.HashMap">
SELECT F.ASSETS_ID AS assetsId,F.ASSETS_NAME AS assetsName,F.OWN_DEPT AS ownDept,F.BRAND AS brand,F.MODEL AS model,
F.ASSETS_CODE AS assetsCode,F.PURCHASE_PRICE AS purchasePrice,F.CREATE_TIME AS createTime,F.SORT_ID AS sortId,
(SELECT S.SORT_NAME FROM FIXED_ASSETS_SORT S WHERE S.ORG_ID=#{orgId} AND F.SORT_ID=S.SORT_ID) AS sortName,
(SELECT D.DEPT_NAME FROM UNIT_DEPT D WHERE D.ORG_ID=#{orgId} AND D.DEPT_ID=F.OWN_DEPT) AS ownDeptName,F.STATUS AS status 
FROM FIXED_ASSETS F
WHERE
F.ORG_ID=#{orgId}
<if test="beginTime!=null and beginTime!=''.toString()">
		AND F.CREATE_TIME &gt;=#{beginTime}
</if>
<if test = "endTime!=''.toString() and endTime!=null">
		AND F.CREATE_TIME &lt;=#{endTime}
</if>
<if test="search !='%%' and search !=''.toString() and search!=null">
	AND (F.ASSETS_NAME LIKE #{search} OR F.ASSETS_CODE LIKE #{search})
</if>
<if test = "sortId!=''.toString() and sortId!=null">
		AND F.SORT_ID = #{sortId}
</if>
</select>

<select id="queryFixedAssetsList" resultType="java.util.HashMap">
SELECT F.ASSETS_ID AS assetsId,F.ASSETS_NAME AS assetsName,F.OWN_DEPT AS ownDept,F.BRAND AS brand,F.MODEL AS model,
F.ASSETS_CODE AS assetsCode,F.PURCHASE_PRICE AS purchasePrice,F.CREATE_TIME AS createTime,F.SORT_ID AS sortId,
(SELECT S.SORT_NAME FROM FIXED_ASSETS_SORT S WHERE S.ORG_ID=#{orgId} AND F.SORT_ID=S.SORT_ID) AS sortName,
(SELECT D.DEPT_NAME FROM UNIT_DEPT D WHERE D.ORG_ID=#{orgId} AND D.DEPT_ID=F.OWN_DEPT) AS ownDeptName,F.STATUS AS status
FROM FIXED_ASSETS F
WHERE
F.ORG_ID=#{orgId}
<if test="beginTime!=null and beginTime!=''.toString()">
	AND F.CREATE_TIME &gt;=#{beginTime}
</if>
<if test = "endTime!=''.toString() and endTime!=null">
	AND F.CREATE_TIME &lt;=#{endTime}
</if>
<if test="search !='%%' and search !=''.toString() and search!=null">
	AND (F.ASSETS_NAME LIKE #{search} OR F.ASSETS_CODE LIKE #{search})
</if>
<if test = "sortId!=''.toString() and sortId!=null">
	AND F.SORT_ID = #{sortId}
</if>
<if test = "ownDept!=''.toString() and ownDept!=null">
	AND F.OWN_DEPT = #{ownDept}
</if>
<if test = "status!=''.toString() and status!=null">
	AND F.STATUS = #{status}
</if>
</select>


<select id="getApplyFixedAssetsList" resultType="java.util.HashMap">
SELECT F.ASSETS_ID AS assetsId,F.ASSETS_NAME AS assetsName,F.OWN_DEPT AS ownDept,F.BRAND AS brand,F.MODEL AS model,
F.ASSETS_CODE AS assetsCode,F.PURCHASE_PRICE AS purchasePrice,F.CREATE_TIME AS createTime,F.SORT_ID AS sortId,
(SELECT S.SORT_NAME FROM FIXED_ASSETS_SORT S WHERE S.ORG_ID=#{orgId} AND F.SORT_ID=S.SORT_ID) AS sortName,
(SELECT D.DEPT_NAME FROM UNIT_DEPT D WHERE D.ORG_ID=#{orgId} AND D.DEPT_ID=F.OWN_DEPT) AS ownDeptName,F.STATUS AS status
FROM FIXED_ASSETS F
WHERE
F.ORG_ID=#{orgId}
<if test="search !='%%' and search !=''.toString() and search!=null">
	AND (F.ASSETS_NAME LIKE #{search} OR F.ASSETS_CODE LIKE #{search})
</if>
<if test = "sortId!=''.toString() and sortId!=null">
	AND F.SORT_ID = #{sortId}
</if>
	AND F.STATUS = '0'
</select>

<select id="getAllocationList" resultType="java.util.HashMap">
SELECT A.APPLY_ID AS applyId,F.ASSETS_ID AS assetsId,F.ASSETS_NAME AS assetsName,F.OWN_DEPT AS ownDept,F.BRAND AS brand,F.MODEL AS model,
F.ASSETS_CODE AS assetsCode,F.PURCHASE_PRICE AS purchasePrice,A.CREATE_TIME AS createTime,F.SORT_ID AS sortId,
(SELECT S.SORT_NAME FROM FIXED_ASSETS_SORT S WHERE S.ORG_ID=#{orgId} AND F.SORT_ID=S.SORT_ID) AS sortName,
(SELECT D.DEPT_NAME FROM UNIT_DEPT D WHERE D.ORG_ID=#{orgId} AND D.DEPT_ID=F.OWN_DEPT) AS ownDeptName,F.STATUS AS status 
FROM FIXED_ASSETS F LEFT JOIN FIXED_ASSETS_APPLY A ON A.ORG_ID=#{orgId} AND F.ASSETS_ID=A.ASSETS_ID AND F.STATUS='0'
WHERE
F.ORG_ID=#{orgId}
AND F.STATUS='0'
<if test="beginTime!=null and beginTime!=''.toString()">
	AND A.CREATE_TIME &gt;=#{beginTime}
</if>
<if test = "endTime!=''.toString() and endTime!=null">
	AND A.CREATE_TIME &lt;=#{endTime}
</if>
<if test="search !='%%' and search !=''.toString() and search!=null">
	AND (F.ASSETS_NAME LIKE #{search} OR F.ASSETS_CODE LIKE #{search})
</if>
<if test = "sortId!=''.toString() and sortId!=null">
	AND F.SORT_ID = #{sortId}
</if>
	AND F.ASSETS_ID IN (SELECT ASSETS_ID FROM FIXED_ASSETS_APPROVAL A ,FIXED_ASSETS_APPLY B WHERE A.ORG_ID=#{orgId} AND A.ORG_ID=B.ORG_ID AND A.STATUS='1')
</select>


</mapper>

