<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core136.mapper.fixedassets.FixedAssetsSortMapper">
<resultMap id="FixedAssetsSort" type="com.core136.bean.fixedassets.FixedAssetsSort" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SORT_ID" property="sortId" jdbcType="VARCHAR" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="SORT_NAME" property="sortName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="LOGO" property="logo" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
  </resultMap>

<select id="getFixedAssetSortTree" resultType="java.util.HashMap">
SELECT SORT_ID AS sortId, SORT_NAME AS sortName,
CASE WHEN (SELECT COUNT(1) FROM FIXED_ASSETS_SORT TMP WHERE TMP.PARENT_ID=sortId)=0 then 'false' else 'true' END
AS  isParent
FROM FIXED_ASSETS_SORT WHERE PARENT_ID=#{parentId} AND ORG_ID=#{orgId}
</select>

<select id="isExistChild" resultType="Integer">
SELECT COUNT(1) AS ZS FROM FIXED_ASSETS_SORT WHERE PARENT_ID=#{parentId} AND ORG_ID=#{orgId}
</select>


</mapper>

