<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
<meta charset="utf-8" />
<title>${session.SOFT_NAME }_智能办公系统</title>
<meta name="description" content="Dashboard" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% include("../../resapi/style.html"){}%>
<link href="/module/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
<style type="text/css">
#myTable tr td {
	vertical-align: middle;
}
</style>
</head>
<body style="overflow-y: auto;">
	<div class="page-body" style="padding: 0px">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="widget-header bg-themeprimary">
					<span class="widget-caption">定时任务管理</span>
				</div>
				<div class="widget-body">
					<div id="registration-form">
						<form role="form">
							<div class="form-title">任务列表</div>
							<div class="row">
								<div class="col-md-12">
									<div class="buttons-preview" id="toobar">
										<a href="javascript:void(0);" onclick="doadd();" class="btn btn-azure">创建任务</a>

									</div>
									<table id="myTable"></table>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" id="setTaskModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myLargeModalLabel">定时任务设置</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal form-bordered" role="form" id="form1">
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">排序号：</label>
							<div class="col-sm-9">
								<input type="number" class="form-control" name="sortNo" id="sortNo" placeholder="排序号"> <input type="hidden" class="form-control" name="dbSourceId" id="dbSourceId" placeholder="排序号">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">任务名称：</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="taskName" name="taskName" placeholder="任务名称">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">执行方法：</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="method" name="method" placeholder="执行方法">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">执行规则：</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="rule" name="rule" placeholder="执行规则">
								<div style="color: red;padding-top: 5px;">
									请参考cron表达式,非管理人员请勿设置!<a href="#" onclick="window.open('http://cron.qqe2.com/');">在线生成</a>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">是否启用：</label>
							<div class="col-sm-9">
								<div class="radio">
									<label style="padding-left: 0px;">
										<input name="status" type="radio" checked="checked" value="1"> <span class="text">启用</span>
									</label>
									<label>
										<input name="status" type="radio" value="0"> <span class="text">停用 </span>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right">任务备注：</label>
							<div class="col-sm-9">
								<textarea rows="" cols="" class="form-control" id="remark" name="remark" placeholder="任务备注"></textarea>
							</div>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary js-save">保存</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</body>
<% include("../../resapi/sysjs.html"){}%>
<script src="/module/bootstrap-table/bootstrap-table.js"></script>
<script src="/module/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/gobal/js/page/sys/systimingtask.js"></script>
</html>