<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
<meta charset="utf-8" />
<title>${session.SOFT_NAME }_智能办公系统</title>
<meta name="description" content="Dashboard" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% include("../../resapi/style.html"){}%>
<link href="/module/jeDate/jedate.css" rel="stylesheet" />
<link href="/module/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
<style type="text/css">
#myTable tr td {
	vertical-align: middle;
}
</style>
</head>
<body style="overflow-y: auto;">
	<div class="page-body" style="padding: 0px;padding-top:5px;">
		<div class="page-container">
			<div class="tabbable">
				<ul class="nav nav-tabs tabs-flat" id="myTab" style="background-image: url('/gobal/img/tb_header.png'); background-size: 34px 60px;">
					<li class=""><a href="/app/core/superversion/process" aria-expanded="false">我的待办事务</a></li>
					<li class="active"><a href="/app/core/superversion/process?view=queryprocess" aria-expanded="true"> 我已办理事务</a></li>
				</ul>

				<div class="tab-content tabs-flat">
				<div class="buttons-preview" id="toobar">
										<span style="margin-left: 10px">事件类型:</span> 
										<span> 
										<select id="type" style="width: 150px">
										</select>
										</span> 
										<span style="margin-left: 10px;">完成时间:</span>
										<span> <input type="text" class="form-control" id="beginTime" readonly="readonly" style="width: 150px; display: inline-block;" name="beginTime" placeholder="开始时间">
											</span>
										<span> - </span>
										<span> <input type="text" class="form-control" id="endTime" readonly="readonly" style="width: 150px; display: inline-block;" name="endTime" placeholder="终止时间">
											</span>
											<span style="margin-left: 10px">
												<a href="javascript:void(0);" class="btn btn-success js-query-but">查询</a>
											</span>
									</div>
					<table id="myTable"></table>
				</div>
			</div>
		</div>
		</div>
</body>
<% include("../../resapi/sysjs.html"){}%>
<script src="/module/bootstrap-table/bootstrap-table.js"></script>
<script src="/module/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/module/jeDate/jeDate.js"></script>
<script src="/gobal/js/page/superversion/queryprocess.js"></script>
</html>